*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

.container {
  display: flex; }

.barra-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #486182;
  height: 100vh;
  flex: 0 0 12%; }

.logo {
  margin: 1.5rem 0rem 2.9rem 0rem;
  width: 85%;
  height: 20%;
  background-color: #749ed6;
  border-radius: 50%; }

.nav-lateral {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.2rem; }
  .nav-lateral__link {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1.5rem 0rem 1.5rem 2.2rem;
    text-transform: uppercase;
    color: #e0e0e0;
    font-weight: 500;
    transition: background-color 0.1s; }
    .nav-lateral__link:not(:last-child) {
      margin-bottom: 0.5rem; }
    .nav-lateral__link:hover {
      background-color: #394b64;
      color: #f3f3f3; }
  .nav-lateral__icone {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.5rem;
    fill: currentColor; }

.conteudo {
  display: flex;
  flex-direction: column;
  flex: 1; }

.barra-superior {
  flex: 0 0 7%;
  background-color: #f4f4fa; }

.corpo {
  background-color: #cdcdce;
  flex: 1; }
