*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

.navegacao {
  display: flex; }

.conteudo {
  display: flex;
  min-height: 100vh;
  flex: 0 0 10%;
  background-color: #333138; }

.cabecalho {
  background-color: #e0e0e1;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  flex: 1 1 90%;
  padding: 1rem;
  align-items: center; }
  .cabecalho .caixa-icone__icone {
    width: 3rem;
    height: 3rem; }
    .cabecalho .caixa-icone__icone:hover {
      cursor: pointer; }
  .cabecalho .buscar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 1.2rem 0.2rem 1.2rem;
    border-radius: 2rem;
    margin-right: 2rem;
    border: 0.1rem solid transparent; }
    .cabecalho .buscar__icone {
      width: 1.6rem;
      height: 1.6rem;
      fill: #b6b6b6;
      order: -1; }
    .cabecalho .buscar__input {
      font-family: inherit;
      font-size: 1.5rem;
      padding: 0.8rem 0.5rem;
      border: none;
      outline: none; }
  .cabecalho .nav {
    display: flex; }
    .cabecalho .nav__perfil {
      display: flex; }

.nav__icone {
  width: 3rem;
  height: 3rem; }

.nav__perfil-icone {
  width: 3rem;
  height: 3rem; }
