.container {
    display: flex;
}

.barra-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $cor-vertical;
    height: 100vh;
    flex: 0 0 12%;
}

.logo {
    margin: 1.5rem 0rem 2.9rem 0rem;
    width: 85%;
    height: 20%;
    background-color: #749ed6;
    border-radius: 50%;
}

.nav-lateral {
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;

    &__link {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 1.5rem 0rem 1.5rem 2.2rem;
        text-transform: uppercase;
        color: $cor-texto;
        font-weight: 500;
        transition: background-color 0.1s;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &:hover {
            background-color: $cor-vertical-hover;
            color: $cor-texto-claro;
        }
    }

    &__icone {
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 1.5rem;
        fill: currentColor;
    }
}

.conteudo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.barra-superior {
    flex: 0 0 7%;
    background-color: $cor-horizontal;
}

.corpo {
    background-color: $cor-horizontal-escura;
    flex: 1;
}
