.navegacao {
    display: flex;
}

.conteudo {
    display: flex;
    min-height: 100vh;
    flex: 0 0 10%;
    background-color: $cor-vertical;
}

.cabecalho {
    background-color: $cor-horizontal;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    flex: 1 1 90%;
    padding: 0rem 0rem 0rem 0.5rem;
    align-items: center;
    border-bottom: 0.1rem solid rgb(194, 193, 193);

    .caixa-icone__icone {
        width: 2.5rem;
        height: 2.5rem;
        fill: rgb(80, 80, 80);

        &:hover {
            cursor: pointer;
        }
    }

    .buscar {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 1.2rem 0 0.1rem;
        border-radius: 2rem;
        // margin-right: 2rem;
        flex: 0 0 20%;

        &__icone {
            width: 1.6rem;
            height: 1.6rem;
            fill: rgb(182, 182, 182);
            order: -1;
        }

        &__input {
            font-family: inherit;
            font-size: 1.3rem;
            padding: 0.8rem 0.5rem;
            border: none;
            outline: none;
            width: 90%;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 13%;

        &__icone {
            width: 2.5rem;
            height: 2.5rem;
            fill: rgb(80, 80, 80);
        }

        &__perfil {
            display: flex;
            align-items: center;
            padding: 1rem 1rem;
            cursor: pointer;

            &:hover {
                background-color: rgb(236, 236, 236);
            }

            &-foto {
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 50%;
            }

            &-nome {
                margin: 0 0.1rem 0 0.6rem;
                font-size: 1.3rem;
            }

            &-icone {
                width: 1.5rem;
                height: 1.5rem;
                fill: rgb(102, 102, 102);
            }
        }
    }
}
